<h2> This is component is used to show demo of services</h2>
<table class="table table-bordered">
    <tr class="bg-primary">
        <th> Employee ID</th>
        <th> Employee Name</th>
        <th> Employee city</th>
        <th> Employee salary</th>
        <th> Employee DOB</th>
    </tr>
    <tr *ngFor="let e of emp">
        <td>{{e.eid}} </td>
        <td>{{e.ename}} </td>
        <td>{{e.ecity}} </td>
        <td>{{e.esalary}} </td>
        <td>{{e.dob}} </td>
    </tr>
</table>

<!-- ng generate service "service name"  for adding services in angular CLI(Command line Interface ) -->