<!-- <h3>Data from Parent to child1 component</h3>
<p>{{dataToParentFromChild}}</p> -->

<!-- 4. Create a child and parent comp
On the child comp create a button and set the counter
The counter is continously incremented and displayed on the child comp
When the user clicks on the button the current count should be displayed on the parent comp
Use css wherever reqd -->

<!-- <hr>
<h3>Child1 Component</h3>
<button (click)="incrCounter()">Count</button>
<p>Child counter : {{counter}}</p> -->

<!-- 5. Create a child and parent comp
On the child comp create a button and set the counter
The counter is continously incremented and displayed on the child comp
When the user clicks on the button the current count should be displayed on the parent comp
Use css wherever reqd Using template reference variable-->


<h4>{{msg1}}</h4>